body {
    background-color: rgb(216, 235, 174);
    font-family: 'Work Sans', sans-serif;
   }
   
   body, h2 {
    font-family: 'Crimson Text', serif;
   }
   it:

body:hover {
    background-color: rgb(11, 117, 211);
}